# Virtual Environment
venv/
venv_pws/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Database
*.db
*.sqlite3